<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941007405098-dimgeafrrl1k68hvkac3n5khn7ve6m7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941007405098-dimgeafrrl1k68hvkac3n5khn7ve6m7k</string>
	<key>API_KEY</key>
	<string>AIzaSyBPx6Nt19Dev7MqsquLyn_scPzrrc3qTQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>941007405098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team1.cira</string>
	<key>PROJECT_ID</key>
	<string>cira-copy</string>
	<key>STORAGE_BUCKET</key>
	<string>cira-copy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941007405098:ios:b5cb0ef82474684e774353</string>
	<key>DATABASE_URL</key>
	<string>https://cira-copy-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>